@import "tailwindcss";

@theme {
  --font-size-mb-4xl: 2rem;
  --font-size-mb-5xl: 2.675rem;

  --spacing-8xl: 90rem;
  --container-8xl: 90rem;
  --container-prose: 50rem;

  --color-gray-50: #EEEEEE;

  --color-primary-50: #EFF6FF;
  --color-primary-100: #DBEAFE;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;

  --color-secondary-500: #4748B;
  --color-secondary-700: #334155;
}